body{
   
   margin: 8px;
   padding: 0;
    background-image: url(./pink-sky-background-with-crescent-moon_53876-129048.webp);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.login_box{
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #ffe4e93b;
    box-shadow: 0px -1px 20px 0px rgb(158, 70, 99) ;
    /* border: 2px solid red; */
}

.login_box h1{
    text-align: center;
    font-weight: 500;
   
    margin-bottom: 10px;
    padding: 13px 0;
    color: black;
    font-family: 'Sono', sans-serif;
}
input[type="text"], input[type="password"]{
display: block;
background: none;
text-align: center;
width: 200px;
border: 2px solid black;
margin: 20px auto ;
padding: 14px 10px;
outline: none;
color: black;
border-radius: 24px;
transition: 1s;
cursor: pointer;
background-color: aliceblue;


}
input[type="submit"]{
 display: block;
background: none;
text-align: center;
width: 120px;
border: 2px solid black;
margin: 20px auto ;
padding: 14px 10px;
outline: none;
color: black;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
background-color: 5gkrgb(200, 230, 255);
}

input[type="text"]:focus, input[type="password"]:focus{
    width: 200px;
    border-color: rgb(255, 149, 250);
}


input[type="submit"]:hover{
background-color: rgb(255, 149, 250) ;

}
    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 30px;
        background-color: rgba(255, 255, 255, 0.657);
        } 
        
         .nav-links{
            display: flex;
            list-style: none;
        }
        .nav-links li{
            text-decoration: none;
            padding-left: 2rem;
            font-size:t5gk 1.2rem;
            font-family: 'Sono', sans-serif;
        }  

        h2{
            font-family: 'Sono', sans-serif;
            margin-left: 30px;
            font-size: 1.17em;
        }


        @media only screen and (max-width: 600px){
            h2{
     margin-left: 15px;
    margin-top: 14px;
    font-size: 13px;
}
     }
        