h1{
    font-size: 21px;
    margin-top: 5px;
margin-left: 30px;
font-family: 'Sono', sans-serif;
display: block;
font-size: 1.17em;
/* margin-block-start: 1em;
margin-block-end: 1em; */
/* margin-inline-start: 0px;
margin-inline-end: 0px; */
font-weight: bold;


}
.tap{
    font-size: 20px;
    margin-top: -10px;
    /* background-color: white;
    border: solid black 2px; */
}

.top{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    margin-top: 12px;
    list-style: none;
    text-decoration: none;
    font-family: 'Sono', sans-serif;
    font-size: 1.2rem;
    padding-left: 2rem;
   
}

body{
    background-image: url(./pink-sky-background-with-crescent-moon_53876-129048.webp);
    background-size: cover;
    display: block;
    margin: 8px;
}

.boxes{
    border: solid 2px black;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.389);
    padding: 0%;
    margin-top: 85px;
}

/* .taps{

    border: solid 25px red;
} */

 .pink-cards{
    height: 250px;
    width: 250px;
}

.polo-santos{
    height: 250px;
    width: 250px;

}
.polo{
    display: flex;
    justify-content: center
}
 .pink{
    display: flex;
    justify-content: center
  
}
p{
    display: flex;
    justify-content: center;
    font-family: 'Sono', sans-serif;
}
.bowl{
    display: flex;
    justify-content: center;
    
}

p3{
    display: flex;
    justify-content: center;
    font-family: 'Sono', sans-serif;
}
p2{
    display: flex;
    justify-content: center;
    font-family: 'Sono', sans-serif;
}

p5{
    display: flex;
    justify-content: center;
    font-family: 'Sono', sans-serif;
}
p4{
    display: flex;
    justify-content: center;
    font-family: 'Sono', sans-serif;
}
p6{
    display: flex;
    justify-content: center;
    font-family: 'Sono', sans-serif;
}
  
.top{
    background-color: rgba(255, 255, 255, 0.657);
    max-height: 30px;
    margin-right:0%;
}

/* .polo{

    margin-left: 110px;
}  */

h2{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 0%;
    background-color: aliceblue;
    font-family: 'Sono', sans-serif;
}

.candel{
    height: 250px;
    width: 250px;
}

.cards{
    height: 250px;
    width: 250px;
    display: flex;
   
}
.books{
    height: 250px;
    width: 250px;
    display: flex;
  
}
.boxes2{
    border: solid 2px black;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.389);
    padding: 0%;
    margin-top: 85px;
    list-style: none;
    text-decoration: none;
}
.classic-tarot{
    display: flex;
    justify-content: center;
}


.candels{
    display: flex;
    justify-content: center;
}
.book{
    display: flex;
    justify-content: center;
}
.shop-two{
  
        display: flex;
        justify-content: center;
    }
    
    
.taps2{
   
        display: flex;
        justify-content: center;
    }
    


@media only screen and (max-width: 600px){
.boxes{
    display: block;
    justify-content: center;
}
h1{
    color: black;
    margin-left: 15px;
    margin-top: 8px;
    font-size: 13px;
}
h2{
    font-size: 14px;
    margin-bottom: -50px;
}
.nav-links{
    margin-top: 12px;
  
}
.tap{
    font-size: 18px;
    margin-top: -7px;
}
.boxes2{
    display: block;
    justify-content: center;
}
}