h1{
    color: black;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    padding-top: 0px;
    border: solid 1px blue;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
   background-color: aqua;
  
    padding: 32px; 
    border: solid 1px blue;
}
    h2{

        color: black;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        padding-top: 0px;
        border: solid 1px blue;
        display: flex;
        justify-content: center;
    }
    .photo{
 display: flex;
    justify-content: center;
   
   display: flex;
    justify-content: center;
    
    }

    p{
        justify-content: center;
       
       display: flex;
        justify-content: center;


    }

    body{

        background-image: url(./pink-sky-background-with-crescent-moon_53876-129048.webp);
        background-size: cover;
        background-attachment: fixed;
    }